<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mage.crm.dao.ModelDao">

<!--    <select id="queryAllsModuleDtos" resultType="com.xxx.crm.dto.ModuleDto">
		SELECT
			id,
			parent_id AS pId,
			module_name AS NAME
		FROM
			t_module
		WHERE
			is_valid = 1
    </select>-->


    <select  id="queryModulesByParams" parameterType="moduleQuery" resultType="module">
        SELECT
        m1.id,
        m1.parent_id as parentId,
        m1.module_name AS moduleName,
        m2.module_name AS parentModuleName,
        m1.module_style as moduleStyle,
        m1.url,
        m1.grade,
        m1.opt_value AS optValue,
        m1.orders,
        m1.create_date AS createDate,
        m1.update_date AS updateDate
        FROM
        t_module m1
        LEFT JOIN t_module m2 ON m1.parent_id = m2.id
        <where>
            m1.is_valid=1
            <if test="moduleName  !=null and moduleName!=''">
                AND m1.module_name LIKE concat('%',#{moduleName},'%')
            </if>
            <if test="optValue  !=null and optValue!=''">
                AND m1.opt_value LIKE concat('%',#{optValue },'%')
            </if>
            <if test="parentModuleName  !=null and parentModuleName!=''">
                AND m2.module_name LIKE concat('%',#{parentModuleName},'%')
            </if>
        </where>

    </select>

    <delete id="delete" parameterType="list">
        update t_module set is_valid=0
        where id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>

    </delete>


</mapper>